# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\SSRL_TS-main\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
